<form #ChangeLoginForm="ngForm" (ngSubmit)="onClickSubmitInfo(ChangeLoginForm.value)">
  <fieldset>
    <legend>Login Information</legend>
    <div class="form-group" >
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Please insert changed email address"
        [(ngModel)]="this.email"
      />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Please insert changed username"
        name="username"
        [(ngModel)]="this.username"
      />
    </div>
    <p>Insert new information into corresponding fields</p>
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Change LoginInformation
    </button>
  </fieldset>
</form>

