<form #loginForm="ngForm" (ngSubmit)="onClickSubmit(loginForm.value)">
  <fieldset>
    <legend>Welcome!</legend>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email address, please"
        name="email"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password, please"
        name="password"
        ngModel
      />
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Submit
    </button>
  </fieldset>
</form>
<br/>

<button type="button" class="btn btn-primary btn-lg btn-block" href="#" routerLink="/user">
  Register
</button>
