<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a id="navbar-brand" class="navbar-brand" href="#" routerLink="/chat" routerLinkActive="active">
		Blind Date
	</a>

	<button
		class="navbar-toggler"
		type="button"
		(click)="toggleNavbar()"
		id="navbarColor01"
		*ngIf="globals.isLoggedIn"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" *ngIf="globals.isLoggedIn">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/user/{username}" routerLinkActive="active"
					>User Info</a
				>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/profile" routerLinkActive="active">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="chatRoom" href="#" routerLink="/chat" routerLinkActive="active">Chat Room</a>
			</li>
		</ul>
		<button type="button" class="btn btn-secondary" (click)="logoutUser()" routerLink="/">
			Logout
		</button>
	</div>
</nav>
