<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">
		Blind Date
	</a>

	<button
		class="navbar-toggler"
		type="button"
		(click)="toggleNavbar()"
		id="navbarColor01"
		*ngIf="globals.isLoggedIn"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" *ngIf="globals.isLoggedIn">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/user/{username}">User Info</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/chat">Chat Room</a>
			</li>
		</ul>
		<button type="button" class="btn btn-secondary" (click)="logoutUser()" routerLink="/">
			Logout
		</button>
		<button type="button" class="btn btn-secondary" (click)="deleteUser()" routerLink="/">
			Refuse account
		</button>
	</div>
</nav>
